/* ========== Fonts ========== */
@font-face {
    font-family: 'Super Vanilla';
    src: url('../fonts/Super Vanilla.ttf');
}

/* ========== Timer Section ========== */

#timer {
    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    top: 5vh;
    bottom: 10vh;
    left: 0vw;
    right: 0vw;
}

.timer-text {
    position: relative;
    font-size: 8vw;
    text-shadow: 10px 10px 25px rgba(0, 0, 0, 0.3);
    color: aliceblue;
    user-select: none;
    line-height: 1;
}