@font-face {
    font-family: 'Super Vanilla';
    src: url('../fonts/Super Vanilla.ttf');
}

body {
    margin: 0;
    font-family: 'Super Vanilla', sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: fixed;
    height: max(50vh, min(450px, 85vh));
    width: 1000px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    background-color: #f5d5ea;
    border-radius: 1vw;

    font-size: xx-large;
    text-align: center;
    padding: 2rem;
    box-shadow: 0 0 2rem rgba(0, 0, 0, 0.2);
    color: #DF86BD;
}

/* .question {
    height: 25%;

    font-size: larger;

    color: #df86bd;
} */

/* .buttonArea {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 100%;
    height: 50%;
    position: relative;
} */

button {
    padding: 1rem 2rem;
    font-size: 1.2rem;
    border: none;
    border-radius: 0.5rem;
    cursor: pointer;

    position: relative;
    /* keep relative for "No" button movement */
    transform: scale(1);
    /* initial scale */

    font-family: 'Super Vanilla';
    font-size: larger;
}

/* .yes {
    background-color: #ff6fa3;
    color: white;
    width: 250px;
    height: 75px;
}

.no {
    background-color: #a3a3a3;
    color: white;
    width: 250px;
    height: 75px;
    transition: all 0.2s ease;
} */