/* ========== Fonts ========== */
@font-face {
    font-family: 'Super Vanilla';
    src: url('../fonts/Super Vanilla.ttf');
}

/* ========== Base ========== */
body {
    margin: 0 0.5vw;
    padding: 0;
    position: absolute;
    inset: 0; /* shorthand for top, right, bottom, left = 0 */
    background: rgb(243, 189, 224);
    font-family: 'Super Vanilla';
}

a {
    text-decoration: none;
    user-select: none;
}

nav {
    display: flex;
    position: fixed;
    top: 0;
    height: 5vh;
    width: 100%;
}

/* ========== Navigation ========== */
.navigation-list {
    margin: 0;
    padding: 0;
    list-style: none;
    
    display: flex;
    align-items: center;

    position: fixed;
    top: 0;
    height: 5vh;
    width: 100%;
    background-color: rgb(243, 189, 224);
}

.navigation-list li {
    display: flex;               /* Makes vertical centering of <a> easier */
    align-items: center;
    height: 5vh;
}

.navigation-list li:not(:last-child) a,
.navigation-list li:first-child a {
    margin-left: 1vw;
}

.navigation-list li:last-child {
    margin-left: auto;
    margin-right: 1vw;
}

.navigation-list li a {
    color: rgba(223, 134, 189, 1);
    font-size: 25px;
    text-transform: capitalize;
    padding: 5px 10px;
    line-height: 1; /* No need to match the height exactly */
}

.navigation-list li a:hover {
    color: aliceblue;
    background-color: #DF86BD;
    border-radius: 30px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.4);
}
